body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:374px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:58px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:609px;
  width:375px;
  height:58px;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:75px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:534px;
  width:375px;
  height:75px;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:429px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:170px;
  width:368px;
  height:429px;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:244px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:161px;
  width:377px;
  height:244px;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:609px;
  width:95px;
  height:58px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:68px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:315px;
  width:160px;
  height:68px;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:73px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:312px;
  width:178px;
  height:73px;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:23px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:260px;
  width:77px;
  height:23px;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:264px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:212px;
  width:88px;
  height:83px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u81 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:212px;
  width:88px;
  height:83px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u82 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:212px;
  width:88px;
  height:83px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u83 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:88px;
  height:83px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u84 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:312px;
  width:88px;
  height:83px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:32px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:170px;
  width:339px;
  height:32px;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:83px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:212px;
  width:74px;
  height:83px;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:83px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:212px;
  width:83px;
  height:83px;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:212px;
  width:82px;
  height:83px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
