body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:840px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:980px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:980px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:482px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:170px;
  width:115px;
  height:85px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u20 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:320px;
  width:375px;
  height:235px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u21_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:205px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u21 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:40px;
  width:425px;
  height:205px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:405px;
  word-wrap:break-word;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:930px;
  width:80px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u24 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:170px;
  width:115px;
  height:85px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u25 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:170px;
  width:115px;
  height:85px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
