body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:376px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
}
#u410 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
}
#u411 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u412 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:25px;
  width:110px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:38px;
}
#u413 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:32px;
  width:107px;
  height:38px;
}
#u414 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:587px;
}
#u415 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:376px;
  height:587px;
}
#u416 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:286px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:274px;
}
#u417 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:80px;
  width:373px;
  height:274px;
}
#u418 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:129px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u419_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u419 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:37px;
  width:109px;
  height:22px;
  font-size:18px;
  color:#000000;
}
#u420 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
