body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:735px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u644 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:669px;
}
#u645 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:669px;
}
#u645_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:679px;
}
#u646 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:132px;
  width:376px;
  height:679px;
}
#u646_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:42px;
}
#u647 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:75px;
  width:95px;
  height:42px;
}
#u647_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u648 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:926px;
}
#u649 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:690px;
  width:376px;
  height:926px;
}
#u649_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:90px;
}
#u650 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:1251px;
  width:93px;
  height:90px;
}
#u650_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:91px;
}
#u651 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:733px;
  width:58px;
  height:91px;
}
#u651_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:98px;
}
#u652 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:732px;
  width:71px;
  height:98px;
}
#u652_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:110px;
}
#u653 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:1143px;
  width:363px;
  height:110px;
}
#u653_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:491px;
}
#u654 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:205px;
  width:376px;
  height:491px;
}
#u654_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u655 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:118px;
  width:23px;
  height:22px;
}
#u655_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u656 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:183px;
  width:23px;
  height:22px;
}
#u656_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:669px;
}
#u657 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1700px;
  width:376px;
  height:669px;
}
#u657_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:679px;
}
#u658 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:2367px;
  width:376px;
  height:679px;
}
#u658_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:42px;
}
#u659 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:1775px;
  width:95px;
  height:42px;
}
#u659_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u660 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:926px;
}
#u661 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:3486px;
  width:376px;
  height:926px;
}
#u661_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:90px;
}
#u662 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:4047px;
  width:93px;
  height:90px;
}
#u662_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:91px;
}
#u663 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:3529px;
  width:58px;
  height:91px;
}
#u663_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:98px;
}
#u664 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:3528px;
  width:71px;
  height:98px;
}
#u664_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:110px;
}
#u665 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:3939px;
  width:363px;
  height:110px;
}
#u665_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:491px;
}
#u666 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:2995px;
  width:376px;
  height:491px;
}
#u666_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:21px;
}
#u667 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:2349px;
  width:54px;
  height:21px;
}
#u667_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:21px;
}
#u668 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:2967px;
  width:54px;
  height:21px;
}
#u668_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u669_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u669 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:441px;
  width:320px;
  height:39px;
}
#u669_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:300px;
  word-wrap:break-word;
}
#u670 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:25px;
  width:110px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
