body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:2445px;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:2445px;
}
#u225_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:545px;
  width:65px;
  height:15px;
}
#u226_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:545px;
  width:40px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u227_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:25px;
  width:110px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u229 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:2395px;
  width:880px;
  height:87px;
}
#u230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:20px;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:20px;
}
#u230_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:216px;
  word-wrap:break-word;
}
#u231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:20px;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:0px;
  width:319px;
  height:20px;
}
#u231_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:315px;
  word-wrap:break-word;
}
#u232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:20px;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:0px;
  width:229px;
  height:20px;
}
#u232_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:225px;
  word-wrap:break-word;
}
#u233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:20px;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:768px;
  top:0px;
  width:112px;
  height:20px;
}
#u233_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:108px;
  word-wrap:break-word;
}
#u234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:27px;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:220px;
  height:27px;
}
#u234_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:216px;
  word-wrap:break-word;
}
#u235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:27px;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:20px;
  width:319px;
  height:27px;
}
#u235_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:315px;
  word-wrap:break-word;
}
#u236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:27px;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:20px;
  width:229px;
  height:27px;
}
#u236_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:225px;
  word-wrap:break-word;
}
#u237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:27px;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:768px;
  top:20px;
  width:112px;
  height:27px;
}
#u237_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:20px;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:47px;
  width:220px;
  height:20px;
}
#u238_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:216px;
  word-wrap:break-word;
}
#u239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:20px;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:47px;
  width:319px;
  height:20px;
}
#u239_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:315px;
  word-wrap:break-word;
}
#u240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:20px;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:47px;
  width:229px;
  height:20px;
}
#u240_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:225px;
  word-wrap:break-word;
}
#u241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:20px;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:768px;
  top:47px;
  width:112px;
  height:20px;
}
#u241_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:20px;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:67px;
  width:220px;
  height:20px;
}
#u242_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:20px;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:67px;
  width:319px;
  height:20px;
}
#u243_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:315px;
  word-wrap:break-word;
}
#u244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:20px;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:67px;
  width:229px;
  height:20px;
}
#u244_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:20px;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:768px;
  top:67px;
  width:112px;
  height:20px;
}
#u245_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
