body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:913px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:95px;
  width:50px;
  height:80px;
}
#u248_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  word-wrap:break-word;
}
#u249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:470px;
  width:50px;
  height:80px;
}
#u249_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  word-wrap:break-word;
}
#u250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:470px;
  width:50px;
  height:80px;
}
#u250_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  word-wrap:break-word;
}
#u251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:95px;
  width:50px;
  height:80px;
}
#u251_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  word-wrap:break-word;
}
#u252_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:10px;
  width:235px;
  height:112px;
}
#u252_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:175px;
  width:0px;
  height:0px;
  color:#FF0000;
}
#u253_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:299px;
}
#u253_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u253_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:282px;
  width:20px;
  height:20px;
}
#u253_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:140px;
  width:100px;
  word-wrap:break-word;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:135px;
  width:0px;
  height:0px;
  color:#0099CC;
}
#u254_seg0 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-3px;
  width:386px;
  height:6px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u254_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u254_seg2 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:-10px;
  width:21px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u254_text {
  border-width:0px;
  position:absolute;
  left:142px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u255_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099CC;
  text-align:center;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:144px;
  width:106px;
  height:16px;
  color:#0099CC;
  text-align:center;
}
#u255_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u256 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:510px;
  width:0px;
  height:0px;
}
#u256_seg0 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-4px;
  width:386px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u256_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u256_seg2 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:-10px;
  width:21px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u256_text {
  border-width:0px;
  position:absolute;
  left:143px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u257_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099CC;
  text-align:center;
}
#u257 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:144px;
  width:60px;
  height:16px;
  color:#0099CC;
  text-align:center;
}
#u257_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u258_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#336600;
  text-align:center;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:490px;
  width:80px;
  height:16px;
  color:#336600;
  text-align:center;
}
#u258_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u259 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:470px;
  width:0px;
  height:0px;
  color:#000000;
}
#u259_seg0 {
  border-width:0px;
  position:absolute;
  left:-159px;
  top:-162px;
  width:318px;
  height:8px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u259_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-14px;
  width:21px;
  height:20px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u259_seg2 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-322px;
  width:21px;
  height:20px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u259_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-165px;
  width:100px;
  word-wrap:break-word;
}
#u260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:725px;
  width:50px;
  height:80px;
}
#u260_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  word-wrap:break-word;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:510px;
  width:0px;
  height:0px;
  color:#000000;
}
#u261_seg0 {
  border-width:0px;
  position:absolute;
  left:-43px;
  top:78px;
  width:250px;
  height:20px;
  -webkit-transform:rotate(44deg);
  -moz-transform:rotate(44deg);
  -ms-transform:rotate(44deg);
  transform:rotate(44deg);
}
#u261_seg1 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:204px;
  width:252px;
  height:24px;
  -webkit-transform:rotate(22deg);
  -moz-transform:rotate(22deg);
  -ms-transform:rotate(22deg);
  transform:rotate(22deg);
}
#u261_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-7px;
  width:21px;
  height:20px;
  -webkit-transform:rotate(54.6464677891291deg);
  -moz-transform:rotate(54.6464677891291deg);
  -ms-transform:rotate(54.6464677891291deg);
  transform:rotate(54.6464677891291deg);
}
#u261_seg3 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:244px;
  width:21px;
  height:20px;
  -webkit-transform:rotate(-168.956351183572deg);
  -moz-transform:rotate(-168.956351183572deg);
  -ms-transform:rotate(-168.956351183572deg);
  transform:rotate(-168.956351183572deg);
}
#u261_text {
  border-width:0px;
  position:absolute;
  left:122px;
  top:159px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u262_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0099;
  text-align:center;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:654px;
  width:106px;
  height:16px;
  color:#FF0099;
  text-align:center;
}
#u262_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u263_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:234px;
  width:235px;
  height:16px;
}
#u263_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u264_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:303px;
  width:235px;
  height:16px;
}
#u264_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u265 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:374px;
  width:235px;
  height:16px;
}
#u265_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
