body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:913px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u533_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u533 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:95px;
  width:50px;
  height:80px;
}
#u534 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  word-wrap:break-word;
}
#u535_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u535 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:470px;
  width:50px;
  height:80px;
}
#u536 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  word-wrap:break-word;
}
#u537_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u537 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:470px;
  width:50px;
  height:80px;
}
#u538 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  word-wrap:break-word;
}
#u539_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u539 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:95px;
  width:50px;
  height:80px;
}
#u540 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  word-wrap:break-word;
}
#u541_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u541 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:10px;
  width:235px;
  height:112px;
}
#u542 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u543 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:175px;
  width:0px;
  height:0px;
  color:#FF0000;
}
#u543_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:299px;
}
#u543_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u543_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:282px;
  width:20px;
  height:20px;
}
#u544 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:140px;
  width:100px;
  word-wrap:break-word;
}
#u545 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:135px;
  width:0px;
  height:0px;
  color:#0099CC;
}
#u545_seg0 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-3px;
  width:386px;
  height:6px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u545_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u545_seg2 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:-10px;
  width:20px;
  height:20px;
}
#u546 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u547_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099CC;
  text-align:center;
}
#u547 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:144px;
  width:106px;
  height:16px;
  color:#0099CC;
  text-align:center;
}
#u548 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u549 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:510px;
  width:0px;
  height:0px;
}
#u549_seg0 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-4px;
  width:386px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u549_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u549_seg2 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:-10px;
  width:20px;
  height:20px;
}
#u550 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u551_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099CC;
  text-align:center;
}
#u551 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:144px;
  width:60px;
  height:16px;
  color:#0099CC;
  text-align:center;
}
#u552 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u553_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#336600;
  text-align:center;
}
#u553 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:490px;
  width:80px;
  height:16px;
  color:#336600;
  text-align:center;
}
#u554 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u555 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:470px;
  width:0px;
  height:0px;
  color:#000000;
}
#u555_seg0 {
  border-width:0px;
  position:absolute;
  left:-159px;
  top:-162px;
  width:318px;
  height:8px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u555_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-13px;
  width:20px;
  height:20px;
}
#u555_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-322px;
  width:20px;
  height:20px;
}
#u556 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-165px;
  width:100px;
  word-wrap:break-word;
}
#u557_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u557 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:725px;
  width:50px;
  height:80px;
}
#u558 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  word-wrap:break-word;
}
#u559 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:510px;
  width:0px;
  height:0px;
  color:#000000;
}
#u559_seg0 {
  border-width:0px;
  position:absolute;
  left:-42px;
  top:78px;
  width:248px;
  height:20px;
  -webkit-transform:rotate(44deg);
  -moz-transform:rotate(44deg);
  -ms-transform:rotate(44deg);
  transform:rotate(44deg);
}
#u559_seg1 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:205px;
  width:251px;
  height:23px;
  -webkit-transform:rotate(22deg);
  -moz-transform:rotate(22deg);
  -ms-transform:rotate(22deg);
  transform:rotate(22deg);
}
#u559_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-8px;
  width:20px;
  height:20px;
}
#u559_seg3 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:244px;
  width:20px;
  height:20px;
}
#u560 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:159px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u561_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0099;
  text-align:center;
}
#u561 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:654px;
  width:106px;
  height:16px;
  color:#FF0099;
  text-align:center;
}
#u562 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u563_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u563 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:234px;
  width:235px;
  height:16px;
}
#u564 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u565_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u565 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:303px;
  width:235px;
  height:16px;
}
#u566 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u567_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u567 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:374px;
  width:235px;
  height:16px;
}
#u568 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
