body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:913px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u666 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:95px;
  width:50px;
  height:80px;
}
#u666_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  word-wrap:break-word;
}
#u667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u667 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:470px;
  width:50px;
  height:80px;
}
#u667_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  word-wrap:break-word;
}
#u668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u668 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:470px;
  width:50px;
  height:80px;
}
#u668_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  word-wrap:break-word;
}
#u669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u669 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:95px;
  width:50px;
  height:80px;
}
#u669_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  word-wrap:break-word;
}
#u670_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u670 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:10px;
  width:235px;
  height:112px;
}
#u670_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u671 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:175px;
  width:0px;
  height:0px;
  color:#FF0000;
}
#u671_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:299px;
}
#u671_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u671_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:282px;
  width:20px;
  height:20px;
}
#u671_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:140px;
  width:100px;
  word-wrap:break-word;
}
#u672 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:135px;
  width:0px;
  height:0px;
  color:#0099CC;
}
#u672_seg0 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-3px;
  width:386px;
  height:6px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u672_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u672_seg2 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:-10px;
  width:21px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u672_text {
  border-width:0px;
  position:absolute;
  left:142px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099CC;
  text-align:center;
}
#u673 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:144px;
  width:106px;
  height:16px;
  color:#0099CC;
  text-align:center;
}
#u673_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u674 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:510px;
  width:0px;
  height:0px;
}
#u674_seg0 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-4px;
  width:386px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u674_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u674_seg2 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:-10px;
  width:21px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u674_text {
  border-width:0px;
  position:absolute;
  left:143px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u675_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099CC;
  text-align:center;
}
#u675 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:144px;
  width:60px;
  height:16px;
  color:#0099CC;
  text-align:center;
}
#u675_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u676_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#336600;
  text-align:center;
}
#u676 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:490px;
  width:80px;
  height:16px;
  color:#336600;
  text-align:center;
}
#u676_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u677 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:470px;
  width:0px;
  height:0px;
  color:#000000;
}
#u677_seg0 {
  border-width:0px;
  position:absolute;
  left:-159px;
  top:-162px;
  width:318px;
  height:8px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u677_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-14px;
  width:21px;
  height:20px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u677_seg2 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-322px;
  width:21px;
  height:20px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u677_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-165px;
  width:100px;
  word-wrap:break-word;
}
#u678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u678 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:725px;
  width:50px;
  height:80px;
}
#u678_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  word-wrap:break-word;
}
#u679 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:510px;
  width:0px;
  height:0px;
  color:#000000;
}
#u679_seg0 {
  border-width:0px;
  position:absolute;
  left:-43px;
  top:78px;
  width:250px;
  height:20px;
  -webkit-transform:rotate(44deg);
  -moz-transform:rotate(44deg);
  -ms-transform:rotate(44deg);
  transform:rotate(44deg);
}
#u679_seg1 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:204px;
  width:252px;
  height:24px;
  -webkit-transform:rotate(22deg);
  -moz-transform:rotate(22deg);
  -ms-transform:rotate(22deg);
  transform:rotate(22deg);
}
#u679_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-7px;
  width:21px;
  height:20px;
  -webkit-transform:rotate(54.6464677891291deg);
  -moz-transform:rotate(54.6464677891291deg);
  -ms-transform:rotate(54.6464677891291deg);
  transform:rotate(54.6464677891291deg);
}
#u679_seg3 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:244px;
  width:21px;
  height:20px;
  -webkit-transform:rotate(-168.956351183572deg);
  -moz-transform:rotate(-168.956351183572deg);
  -ms-transform:rotate(-168.956351183572deg);
  transform:rotate(-168.956351183572deg);
}
#u679_text {
  border-width:0px;
  position:absolute;
  left:122px;
  top:159px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0099;
  text-align:center;
}
#u680 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:654px;
  width:106px;
  height:16px;
  color:#FF0099;
  text-align:center;
}
#u680_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u681_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u681 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:234px;
  width:235px;
  height:16px;
}
#u681_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u682_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u682 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:303px;
  width:235px;
  height:16px;
}
#u682_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u683_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u683 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:374px;
  width:235px;
  height:16px;
}
#u683_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
