body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1565px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3889_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:161px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#1E1E1E;
}
#u3889 {
  border-width:0px;
  position:absolute;
  left:965px;
  top:35px;
  width:600px;
  height:161px;
  color:#1E1E1E;
}
#u3890 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:580px;
  word-wrap:break-word;
}
#u3891_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#1E1E1E;
}
#u3891 {
  border-width:0px;
  position:absolute;
  left:965px;
  top:222px;
  width:600px;
  height:60px;
  color:#1E1E1E;
}
#u3892 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:580px;
  word-wrap:break-word;
}
#u3893_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u3893 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:29px;
  width:121px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u3894 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u3895_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u3895 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:29px;
  width:101px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u3896 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u3897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:20px;
}
#u3897 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:115px;
  width:195px;
  height:20px;
}
#u3898 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:191px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:23px;
}
#u3899 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:240px;
  width:171px;
  height:23px;
}
#u3900 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:18px;
}
#u3901 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:242px;
  width:163px;
  height:18px;
}
#u3902 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:17px;
}
#u3903 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:165px;
  width:116px;
  height:17px;
}
#u3904 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:22px;
}
#u3905 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:385px;
  width:144px;
  height:22px;
}
#u3906 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:20px;
}
#u3907 {
  border-width:0px;
  position:absolute;
  left:742px;
  top:373px;
  width:153px;
  height:20px;
}
#u3908 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:24px;
}
#u3909 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:486px;
  width:146px;
  height:24px;
}
#u3910 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:22px;
}
#u3911 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:111px;
  width:184px;
  height:22px;
}
#u3912 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:561px;
}
#u3913 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:20px;
  width:1px;
  height:560px;
}
#u3914 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:272px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3915 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:53px;
  width:0px;
  height:0px;
  color:#000000;
}
#u3915_seg0 {
  border-width:0px;
  position:absolute;
  left:-33px;
  top:27px;
  width:64px;
  height:8px;
  -webkit-transform:rotate(-89.0759546472273deg);
  -moz-transform:rotate(-89.0759546472273deg);
  -ms-transform:rotate(-89.0759546472273deg);
  transform:rotate(-89.0759546472273deg);
}
#u3915_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3915_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:50px;
  width:18px;
  height:18px;
}
#u3916 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:23px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3917 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:135px;
  width:0px;
  height:0px;
  color:#000000;
}
#u3917_seg0 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:11px;
  width:32px;
  height:8px;
  -webkit-transform:rotate(-88.0908475670036deg);
  -moz-transform:rotate(-88.0908475670036deg);
  -ms-transform:rotate(-88.0908475670036deg);
  transform:rotate(-88.0908475670036deg);
}
#u3917_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3917_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:18px;
  width:18px;
  height:18px;
}
#u3918 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3919 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:182px;
  width:0px;
  height:0px;
  color:#000000;
}
#u3919_seg0 {
  border-width:0px;
  position:absolute;
  left:-67px;
  top:2px;
  width:71px;
  height:11px;
  -webkit-transform:rotate(164deg);
  -moz-transform:rotate(164deg);
  -ms-transform:rotate(164deg);
  transform:rotate(164deg);
}
#u3919_seg1 {
  border-width:0px;
  position:absolute;
  left:-124px;
  top:31px;
  width:72px;
  height:11px;
  -webkit-transform:rotate(141deg);
  -moz-transform:rotate(141deg);
  -ms-transform:rotate(141deg);
  transform:rotate(141deg);
}
#u3919_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3919_seg3 {
  border-width:0px;
  position:absolute;
  left:-120px;
  top:46px;
  width:18px;
  height:18px;
}
#u3920 {
  border-width:0px;
  position:absolute;
  left:-112px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3921 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:182px;
  width:0px;
  height:0px;
  color:#000000;
}
#u3921_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:4px;
  width:62px;
  height:10px;
  -webkit-transform:rotate(22deg);
  -moz-transform:rotate(22deg);
  -ms-transform:rotate(22deg);
  transform:rotate(22deg);
}
#u3921_seg1 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:35px;
  width:63px;
  height:9px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u3921_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3921_seg3 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:48px;
  width:18px;
  height:18px;
}
#u3922 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:22px;
}
#u3923 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:358px;
  width:144px;
  height:22px;
}
#u3924 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:20px;
}
#u3925 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:358px;
  width:153px;
  height:20px;
}
#u3926 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3927_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:24px;
}
#u3927 {
  border-width:0px;
  position:absolute;
  left:625px;
  top:533px;
  width:146px;
  height:24px;
}
#u3928 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3929 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:263px;
  width:0px;
  height:0px;
  color:#000000;
}
#u3929_seg0 {
  border-width:0px;
  position:absolute;
  left:-53px;
  top:43px;
  width:98px;
  height:8px;
  -webkit-transform:rotate(-85.785821477266deg);
  -moz-transform:rotate(-85.785821477266deg);
  -ms-transform:rotate(-85.785821477266deg);
  transform:rotate(-85.785821477266deg);
}
#u3929_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3929_seg2 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:83px;
  width:18px;
  height:18px;
}
#u3930 {
  border-width:0px;
  position:absolute;
  left:-53px;
  top:40px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3931 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:263px;
  width:0px;
  height:0px;
  color:#000000;
}
#u3931_seg0 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:43px;
  width:234px;
  height:10px;
  -webkit-transform:rotate(-155.862218540616deg);
  -moz-transform:rotate(-155.862218540616deg);
  -ms-transform:rotate(-155.862218540616deg);
  transform:rotate(-155.862218540616deg);
}
#u3931_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3931_seg2 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:84px;
  width:18px;
  height:18px;
}
#u3932 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:40px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3933 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:380px;
  width:0px;
  height:0px;
  color:#000000;
}
#u3933_seg0 {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:48px;
  width:156px;
  height:10px;
  -webkit-transform:rotate(-136.319945693922deg);
  -moz-transform:rotate(-136.319945693922deg);
  -ms-transform:rotate(-136.319945693922deg);
  transform:rotate(-136.319945693922deg);
}
#u3933_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3933_seg2 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:94px;
  width:18px;
  height:18px;
}
#u3934 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:45px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3935 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:378px;
  width:0px;
  height:0px;
  color:#000000;
}
#u3935_seg0 {
  border-width:0px;
  position:absolute;
  left:-133px;
  top:48px;
  width:156px;
  height:10px;
  -webkit-transform:rotate(-44.2079429078376deg);
  -moz-transform:rotate(-44.2079429078376deg);
  -ms-transform:rotate(-44.2079429078376deg);
  transform:rotate(-44.2079429078376deg);
}
#u3935_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3935_seg2 {
  border-width:0px;
  position:absolute;
  left:-117px;
  top:95px;
  width:18px;
  height:18px;
}
#u3936 {
  border-width:0px;
  position:absolute;
  left:-105px;
  top:46px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3937 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:53px;
  width:0px;
  height:0px;
  color:#000000;
}
#u3937_seg0 {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:25px;
  width:60px;
  height:8px;
  -webkit-transform:rotate(-89.0122396003602deg);
  -moz-transform:rotate(-89.0122396003602deg);
  -ms-transform:rotate(-89.0122396003602deg);
  transform:rotate(-89.0122396003602deg);
}
#u3937_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3937_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:46px;
  width:18px;
  height:18px;
}
#u3938 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:21px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3939 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:232px;
  width:0px;
  height:0px;
  color:#000000;
}
#u3939_seg0 {
  border-width:0px;
  position:absolute;
  left:-73px;
  top:18px;
  width:86px;
  height:15px;
  -webkit-transform:rotate(134deg);
  -moz-transform:rotate(134deg);
  -ms-transform:rotate(134deg);
  transform:rotate(134deg);
}
#u3939_seg1 {
  border-width:0px;
  position:absolute;
  left:-101px;
  top:91px;
  width:93px;
  height:16px;
  -webkit-transform:rotate(86deg);
  -moz-transform:rotate(86deg);
  -ms-transform:rotate(86deg);
  transform:rotate(86deg);
}
#u3939_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3939_seg3 {
  border-width:0px;
  position:absolute;
  left:-59px;
  top:129px;
  width:18px;
  height:18px;
}
#u3940 {
  border-width:0px;
  position:absolute;
  left:-104px;
  top:49px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3941 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:232px;
  width:0px;
  height:0px;
  color:#000000;
}
#u3941_seg0 {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:66px;
  width:244px;
  height:10px;
  -webkit-transform:rotate(-144.407335872207deg);
  -moz-transform:rotate(-144.407335872207deg);
  -ms-transform:rotate(-144.407335872207deg);
  transform:rotate(-144.407335872207deg);
}
#u3941_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3941_seg2 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:130px;
  width:18px;
  height:18px;
}
#u3942 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:63px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3943 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:395px;
  width:0px;
  height:0px;
  color:#000000;
}
#u3943_seg0 {
  border-width:0px;
  position:absolute;
  left:-32px;
  top:63px;
  width:188px;
  height:12px;
  -webkit-transform:rotate(-131.941302425904deg);
  -moz-transform:rotate(-131.941302425904deg);
  -ms-transform:rotate(-131.941302425904deg);
  transform:rotate(-131.941302425904deg);
}
#u3943_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3943_seg2 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:126px;
  width:18px;
  height:18px;
}
#u3944 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:61px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3945 {
  border-width:0px;
  position:absolute;
  left:819px;
  top:393px;
  width:0px;
  height:0px;
  color:#000000;
}
#u3945_seg0 {
  border-width:0px;
  position:absolute;
  left:-155px;
  top:65px;
  width:188px;
  height:10px;
  -webkit-transform:rotate(-49.1636126200533deg);
  -moz-transform:rotate(-49.1636126200533deg);
  -ms-transform:rotate(-49.1636126200533deg);
  transform:rotate(-49.1636126200533deg);
}
#u3945_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3945_seg2 {
  border-width:0px;
  position:absolute;
  left:-129px;
  top:128px;
  width:18px;
  height:18px;
}
#u3946 {
  border-width:0px;
  position:absolute;
  left:-110px;
  top:62px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:20px;
}
#u3947 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:210px;
  width:182px;
  height:20px;
}
#u3948 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3949_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:22px;
}
#u3949 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:210px;
  width:182px;
  height:22px;
}
#u3950 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3951 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:133px;
  width:0px;
  height:0px;
  color:#000000;
}
#u3951_seg0 {
  border-width:0px;
  position:absolute;
  left:-62px;
  top:8px;
  width:69px;
  height:11px;
  -webkit-transform:rotate(150deg);
  -moz-transform:rotate(150deg);
  -ms-transform:rotate(150deg);
  transform:rotate(150deg);
}
#u3951_seg1 {
  border-width:0px;
  position:absolute;
  left:-92px;
  top:47px;
  width:56px;
  height:12px;
  -webkit-transform:rotate(110deg);
  -moz-transform:rotate(110deg);
  -ms-transform:rotate(110deg);
  transform:rotate(110deg);
}
#u3951_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3951_seg3 {
  border-width:0px;
  position:absolute;
  left:-80px;
  top:65px;
  width:18px;
  height:18px;
}
#u3952 {
  border-width:0px;
  position:absolute;
  left:-103px;
  top:23px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3953 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:133px;
  width:0px;
  height:0px;
  color:#000000;
}
#u3953_seg0 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:7px;
  width:100px;
  height:13px;
  -webkit-transform:rotate(20deg);
  -moz-transform:rotate(20deg);
  -ms-transform:rotate(20deg);
  transform:rotate(20deg);
}
#u3953_seg1 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:44px;
  width:60px;
  height:16px;
  -webkit-transform:rotate(61deg);
  -moz-transform:rotate(61deg);
  -ms-transform:rotate(61deg);
  transform:rotate(61deg);
}
#u3953_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3953_seg3 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:65px;
  width:18px;
  height:18px;
}
#u3954 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:23px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
