body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1565px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2078_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:161px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#1E1E1E;
}
#u2078 {
  border-width:0px;
  position:absolute;
  left:965px;
  top:35px;
  width:600px;
  height:161px;
  color:#1E1E1E;
}
#u2078_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:580px;
  word-wrap:break-word;
}
#u2079_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#1E1E1E;
}
#u2079 {
  border-width:0px;
  position:absolute;
  left:965px;
  top:222px;
  width:600px;
  height:60px;
  color:#1E1E1E;
}
#u2079_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:580px;
  word-wrap:break-word;
}
#u2080_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2080 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:29px;
  width:121px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2080_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u2081_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2081 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:29px;
  width:101px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2081_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u2082_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:20px;
}
#u2082 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:115px;
  width:195px;
  height:20px;
}
#u2082_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2083_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:23px;
}
#u2083 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:240px;
  width:171px;
  height:23px;
}
#u2083_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2084_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:18px;
}
#u2084 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:242px;
  width:163px;
  height:18px;
}
#u2084_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2085_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:17px;
}
#u2085 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:165px;
  width:116px;
  height:17px;
}
#u2085_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2086_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:22px;
}
#u2086 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:385px;
  width:144px;
  height:22px;
}
#u2086_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2087_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:20px;
}
#u2087 {
  border-width:0px;
  position:absolute;
  left:742px;
  top:373px;
  width:153px;
  height:20px;
}
#u2087_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2088_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:24px;
}
#u2088 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:486px;
  width:146px;
  height:24px;
}
#u2088_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2089_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:22px;
}
#u2089 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:111px;
  width:184px;
  height:22px;
}
#u2089_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2090_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:561px;
}
#u2090 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:20px;
  width:1px;
  height:560px;
}
#u2090_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2091 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:53px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2091_seg0 {
  border-width:0px;
  position:absolute;
  left:-33px;
  top:27px;
  width:64px;
  height:8px;
  -webkit-transform:rotate(-89.0759546472273deg);
  -moz-transform:rotate(-89.0759546472273deg);
  -ms-transform:rotate(-89.0759546472273deg);
  transform:rotate(-89.0759546472273deg);
}
#u2091_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2091_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:50px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(-89.0759546472266deg);
  -moz-transform:rotate(-89.0759546472266deg);
  -ms-transform:rotate(-89.0759546472266deg);
  transform:rotate(-89.0759546472266deg);
}
#u2091_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:23px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2092 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:135px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2092_seg0 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:11px;
  width:32px;
  height:8px;
  -webkit-transform:rotate(-88.0908475670036deg);
  -moz-transform:rotate(-88.0908475670036deg);
  -ms-transform:rotate(-88.0908475670036deg);
  transform:rotate(-88.0908475670036deg);
}
#u2092_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2092_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:18px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(-88.0908475670043deg);
  -moz-transform:rotate(-88.0908475670043deg);
  -ms-transform:rotate(-88.0908475670043deg);
  transform:rotate(-88.0908475670043deg);
}
#u2092_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2093 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:182px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2093_seg0 {
  border-width:0px;
  position:absolute;
  left:-67px;
  top:2px;
  width:72px;
  height:12px;
  -webkit-transform:rotate(164deg);
  -moz-transform:rotate(164deg);
  -ms-transform:rotate(164deg);
  transform:rotate(164deg);
}
#u2093_seg1 {
  border-width:0px;
  position:absolute;
  left:-125px;
  top:30px;
  width:74px;
  height:12px;
  -webkit-transform:rotate(141deg);
  -moz-transform:rotate(141deg);
  -ms-transform:rotate(141deg);
  transform:rotate(141deg);
}
#u2093_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2093_seg3 {
  border-width:0px;
  position:absolute;
  left:-119px;
  top:46px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(-49.1791122576829deg);
  -moz-transform:rotate(-49.1791122576829deg);
  -ms-transform:rotate(-49.1791122576829deg);
  transform:rotate(-49.1791122576829deg);
}
#u2093_text {
  border-width:0px;
  position:absolute;
  left:-112px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2094 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:182px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2094_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:4px;
  width:62px;
  height:10px;
  -webkit-transform:rotate(22deg);
  -moz-transform:rotate(22deg);
  -ms-transform:rotate(22deg);
  transform:rotate(22deg);
}
#u2094_seg1 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:34px;
  width:64px;
  height:10px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u2094_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2094_seg3 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:48px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(-124.508522987667deg);
  -moz-transform:rotate(-124.508522987667deg);
  -ms-transform:rotate(-124.508522987667deg);
  transform:rotate(-124.508522987667deg);
}
#u2094_text {
  border-width:0px;
  position:absolute;
  left:1px;
  top:13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2095_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:22px;
}
#u2095 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:358px;
  width:144px;
  height:22px;
}
#u2095_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2096_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:20px;
}
#u2096 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:358px;
  width:153px;
  height:20px;
}
#u2096_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2097_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:24px;
}
#u2097 {
  border-width:0px;
  position:absolute;
  left:625px;
  top:533px;
  width:146px;
  height:24px;
}
#u2097_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2098 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:263px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2098_seg0 {
  border-width:0px;
  position:absolute;
  left:-53px;
  top:43px;
  width:98px;
  height:8px;
  -webkit-transform:rotate(-85.785821477266deg);
  -moz-transform:rotate(-85.785821477266deg);
  -ms-transform:rotate(-85.785821477266deg);
  transform:rotate(-85.785821477266deg);
}
#u2098_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2098_seg2 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:83px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(-85.7858214772662deg);
  -moz-transform:rotate(-85.7858214772662deg);
  -ms-transform:rotate(-85.7858214772662deg);
  transform:rotate(-85.7858214772662deg);
}
#u2098_text {
  border-width:0px;
  position:absolute;
  left:-53px;
  top:40px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2099 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:263px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2099_seg0 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:43px;
  width:234px;
  height:10px;
  -webkit-transform:rotate(-155.862218540616deg);
  -moz-transform:rotate(-155.862218540616deg);
  -ms-transform:rotate(-155.862218540616deg);
  transform:rotate(-155.862218540616deg);
}
#u2099_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2099_seg2 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:85px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(-155.862218540615deg);
  -moz-transform:rotate(-155.862218540615deg);
  -ms-transform:rotate(-155.862218540615deg);
  transform:rotate(-155.862218540615deg);
}
#u2099_text {
  border-width:0px;
  position:absolute;
  left:56px;
  top:40px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2100 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:380px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2100_seg0 {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:48px;
  width:156px;
  height:10px;
  -webkit-transform:rotate(-136.319945693922deg);
  -moz-transform:rotate(-136.319945693922deg);
  -ms-transform:rotate(-136.319945693922deg);
  transform:rotate(-136.319945693922deg);
}
#u2100_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2100_seg2 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:95px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(-136.319945693921deg);
  -moz-transform:rotate(-136.319945693921deg);
  -ms-transform:rotate(-136.319945693921deg);
  transform:rotate(-136.319945693921deg);
}
#u2100_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:45px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2101 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:378px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2101_seg0 {
  border-width:0px;
  position:absolute;
  left:-133px;
  top:48px;
  width:156px;
  height:10px;
  -webkit-transform:rotate(-44.2079429078376deg);
  -moz-transform:rotate(-44.2079429078376deg);
  -ms-transform:rotate(-44.2079429078376deg);
  transform:rotate(-44.2079429078376deg);
}
#u2101_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2101_seg2 {
  border-width:0px;
  position:absolute;
  left:-117px;
  top:96px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(-44.2079429078365deg);
  -moz-transform:rotate(-44.2079429078365deg);
  -ms-transform:rotate(-44.2079429078365deg);
  transform:rotate(-44.2079429078365deg);
}
#u2101_text {
  border-width:0px;
  position:absolute;
  left:-105px;
  top:46px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2102 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:53px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2102_seg0 {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:25px;
  width:60px;
  height:8px;
  -webkit-transform:rotate(-89.0122396003602deg);
  -moz-transform:rotate(-89.0122396003602deg);
  -ms-transform:rotate(-89.0122396003602deg);
  transform:rotate(-89.0122396003602deg);
}
#u2102_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2102_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:46px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(-89.012239600362deg);
  -moz-transform:rotate(-89.012239600362deg);
  -ms-transform:rotate(-89.012239600362deg);
  transform:rotate(-89.012239600362deg);
}
#u2102_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:21px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2103 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:232px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2103_seg0 {
  border-width:0px;
  position:absolute;
  left:-74px;
  top:18px;
  width:88px;
  height:16px;
  -webkit-transform:rotate(134deg);
  -moz-transform:rotate(134deg);
  -ms-transform:rotate(134deg);
  transform:rotate(134deg);
}
#u2103_seg1 {
  border-width:0px;
  position:absolute;
  left:-102px;
  top:90px;
  width:94px;
  height:18px;
  -webkit-transform:rotate(86deg);
  -moz-transform:rotate(86deg);
  -ms-transform:rotate(86deg);
  transform:rotate(86deg);
}
#u2103_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2103_seg3 {
  border-width:0px;
  position:absolute;
  left:-59px;
  top:129px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(-110.684080267945deg);
  -moz-transform:rotate(-110.684080267945deg);
  -ms-transform:rotate(-110.684080267945deg);
  transform:rotate(-110.684080267945deg);
}
#u2103_text {
  border-width:0px;
  position:absolute;
  left:-104px;
  top:49px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2104 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:232px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2104_seg0 {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:66px;
  width:244px;
  height:10px;
  -webkit-transform:rotate(-144.407335872207deg);
  -moz-transform:rotate(-144.407335872207deg);
  -ms-transform:rotate(-144.407335872207deg);
  transform:rotate(-144.407335872207deg);
}
#u2104_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2104_seg2 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:130px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(-144.407335872204deg);
  -moz-transform:rotate(-144.407335872204deg);
  -ms-transform:rotate(-144.407335872204deg);
  transform:rotate(-144.407335872204deg);
}
#u2104_text {
  border-width:0px;
  position:absolute;
  left:49px;
  top:63px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2105 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:395px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2105_seg0 {
  border-width:0px;
  position:absolute;
  left:-32px;
  top:63px;
  width:188px;
  height:12px;
  -webkit-transform:rotate(-131.941302425904deg);
  -moz-transform:rotate(-131.941302425904deg);
  -ms-transform:rotate(-131.941302425904deg);
  transform:rotate(-131.941302425904deg);
}
#u2105_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2105_seg2 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:126px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(-131.941302425905deg);
  -moz-transform:rotate(-131.941302425905deg);
  -ms-transform:rotate(-131.941302425905deg);
  transform:rotate(-131.941302425905deg);
}
#u2105_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:61px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2106 {
  border-width:0px;
  position:absolute;
  left:819px;
  top:393px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2106_seg0 {
  border-width:0px;
  position:absolute;
  left:-155px;
  top:65px;
  width:188px;
  height:10px;
  -webkit-transform:rotate(-49.1636126200533deg);
  -moz-transform:rotate(-49.1636126200533deg);
  -ms-transform:rotate(-49.1636126200533deg);
  transform:rotate(-49.1636126200533deg);
}
#u2106_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2106_seg2 {
  border-width:0px;
  position:absolute;
  left:-128px;
  top:128px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(-49.1636126200556deg);
  -moz-transform:rotate(-49.1636126200556deg);
  -ms-transform:rotate(-49.1636126200556deg);
  transform:rotate(-49.1636126200556deg);
}
#u2106_text {
  border-width:0px;
  position:absolute;
  left:-110px;
  top:62px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:20px;
}
#u2107 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:210px;
  width:182px;
  height:20px;
}
#u2107_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:22px;
}
#u2108 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:210px;
  width:182px;
  height:22px;
}
#u2108_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2109 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:133px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2109_seg0 {
  border-width:0px;
  position:absolute;
  left:-62px;
  top:7px;
  width:70px;
  height:12px;
  -webkit-transform:rotate(150deg);
  -moz-transform:rotate(150deg);
  -ms-transform:rotate(150deg);
  transform:rotate(150deg);
}
#u2109_seg1 {
  border-width:0px;
  position:absolute;
  left:-92px;
  top:47px;
  width:56px;
  height:12px;
  -webkit-transform:rotate(110deg);
  -moz-transform:rotate(110deg);
  -ms-transform:rotate(110deg);
  transform:rotate(110deg);
}
#u2109_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2109_seg3 {
  border-width:0px;
  position:absolute;
  left:-80px;
  top:65px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(-91.5911402711943deg);
  -moz-transform:rotate(-91.5911402711943deg);
  -ms-transform:rotate(-91.5911402711943deg);
  transform:rotate(-91.5911402711943deg);
}
#u2109_text {
  border-width:0px;
  position:absolute;
  left:-103px;
  top:23px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2110 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:133px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2110_seg0 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:7px;
  width:100px;
  height:14px;
  -webkit-transform:rotate(20deg);
  -moz-transform:rotate(20deg);
  -ms-transform:rotate(20deg);
  transform:rotate(20deg);
}
#u2110_seg1 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:43px;
  width:62px;
  height:18px;
  -webkit-transform:rotate(61deg);
  -moz-transform:rotate(61deg);
  -ms-transform:rotate(61deg);
  transform:rotate(61deg);
}
#u2110_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2110_seg3 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:65px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(-84.1843734705105deg);
  -moz-transform:rotate(-84.1843734705105deg);
  -ms-transform:rotate(-84.1843734705105deg);
  transform:rotate(-84.1843734705105deg);
}
#u2110_text {
  border-width:0px;
  position:absolute;
  left:37px;
  top:23px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
