body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2939_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:665px;
}
#u2939 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:665px;
}
#u2940 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:324px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2941_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
}
#u2941 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:365px;
  width:150px;
  height:25px;
}
#u2942 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2943_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#A9A9A9;
}
#u2943 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:365px;
  width:113px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#A9A9A9;
}
#u2944 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2945 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:25px;
  width:100px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
