body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:376px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:121px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:50px;
  width:121px;
  height:121px;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:365px;
  width:350px;
  height:55px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u30 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:430px;
  width:120px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u31 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:430px;
  width:85px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
