body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:2445px;
}
#u770 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:2445px;
}
#u770_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
}
#u771 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:545px;
  width:65px;
  height:15px;
}
#u771_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u772_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u772 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:545px;
  width:40px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u772_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u773 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:25px;
  width:110px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u774 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:2395px;
  width:880px;
  height:87px;
}
#u775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:20px;
}
#u775 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:20px;
}
#u775_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:216px;
  word-wrap:break-word;
}
#u776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:20px;
}
#u776 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:0px;
  width:319px;
  height:20px;
}
#u776_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:315px;
  word-wrap:break-word;
}
#u777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:20px;
}
#u777 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:0px;
  width:229px;
  height:20px;
}
#u777_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:225px;
  word-wrap:break-word;
}
#u778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:20px;
}
#u778 {
  border-width:0px;
  position:absolute;
  left:768px;
  top:0px;
  width:112px;
  height:20px;
}
#u778_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:108px;
  word-wrap:break-word;
}
#u779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:27px;
}
#u779 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:220px;
  height:27px;
}
#u779_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:216px;
  word-wrap:break-word;
}
#u780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:27px;
}
#u780 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:20px;
  width:319px;
  height:27px;
}
#u780_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:315px;
  word-wrap:break-word;
}
#u781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:27px;
}
#u781 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:20px;
  width:229px;
  height:27px;
}
#u781_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:225px;
  word-wrap:break-word;
}
#u782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:27px;
}
#u782 {
  border-width:0px;
  position:absolute;
  left:768px;
  top:20px;
  width:112px;
  height:27px;
}
#u782_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:20px;
}
#u783 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:47px;
  width:220px;
  height:20px;
}
#u783_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:216px;
  word-wrap:break-word;
}
#u784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:20px;
}
#u784 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:47px;
  width:319px;
  height:20px;
}
#u784_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:315px;
  word-wrap:break-word;
}
#u785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:20px;
}
#u785 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:47px;
  width:229px;
  height:20px;
}
#u785_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:225px;
  word-wrap:break-word;
}
#u786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:20px;
}
#u786 {
  border-width:0px;
  position:absolute;
  left:768px;
  top:47px;
  width:112px;
  height:20px;
}
#u786_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:20px;
}
#u787 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:67px;
  width:220px;
  height:20px;
}
#u787_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:20px;
}
#u788 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:67px;
  width:319px;
  height:20px;
}
#u788_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:315px;
  word-wrap:break-word;
}
#u789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:20px;
}
#u789 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:67px;
  width:229px;
  height:20px;
}
#u789_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:20px;
}
#u790 {
  border-width:0px;
  position:absolute;
  left:768px;
  top:67px;
  width:112px;
  height:20px;
}
#u790_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
