body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:443px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2491 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:101px;
}
#u2492 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:430px;
  height:101px;
}
#u2493 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:663px;
}
#u2494 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:101px;
  width:30px;
  height:663px;
}
#u2495 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:324px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:663px;
}
#u2496 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:101px;
  width:26px;
  height:663px;
}
#u2497 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:324px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2498_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:102px;
}
#u2498 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:764px;
  width:430px;
  height:102px;
}
#u2499 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:43px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2500 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:100px;
  width:375px;
  height:667px;
  overflow:hidden;
}
#u2500_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2500_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2501 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:685px;
}
#u2501_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:685px;
  overflow:scroll;
}
